#menu{
	height: 60px;
	}

#menu ul{
	margin: 0;
	padding: 0;


}
#menu li{
	list-style-type: none;
	float: left;
	display: block;
	width: 150px;
	height: 60px;
	text-align: center;
	line-height: 55px;
	font-size: 17px;

}

#menu li a{
	text-decoration: none;
	display: block;
	width: 150px;
	height: 60px;
}
#menu li:hover{
	background-color: black;
}